@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: left top;
  font-family: "Chivo Mono", monospace;
} */